*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #ffeecc, hsl(330, 74%, 91%), #ffeecc ); 
  }

  /*(45deg, #ffcc00, #ff6699, #33ccff)*/

/***** reusable *****/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.heading-main h2 {
    text-align: center;
    font-size: 40px;
}

.heading-main h3 {
    text-align: center;
    font-size: 30px;
}


/*.heading-main h2:after{
    content: "";
    display: block;
    width: 250px;
    border-bottom: 2px solid black;
    margin: 15px auto;
}*/

.empty-space {
    height: 50px;
}

/***** Header *****/
.heading-first h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 360px;
    margin-bottom: 50px;
}

.findme {
    display: grid;
    justify-content: center;
    grid-gap: 15px;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 360px;
}

.findme img {
    height: 30px;
}

.nav-link {
    background-color: white;
    color: black; 
    border-radius: 5px;
    margin: 0 5px; 
    padding: 10px 15px;
}

.nav-pills {
    display: flex;
    position: fixed;
    max-height: 60px;
    background-color: white; 
    border-radius: 25px;
    padding: 4px 4px;
    opacity: 1;
    z-index: 1000;
}

.nav-link:hover {
    background-color: whitesmoke; 
}

.header-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-80%, -700%);
}

.header-text h1 {
    color: gray;
    font-family: Verda, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

/***** About Me *****/

.welcome-text {
    text-align: center;
    margin: 0 0 15px;
}

.photo {
    text-align: center;
}

.photo img {
    
    border: 2px solid #fff;
    background-color: white;
    margin: 50px;
    border-radius: 350px;
    }
  
/***** My Project *****/

.photo-segment li {
    list-style-type:none;
    border-radius: 0 0 20px 20px;
    background-color: white;
    overflow: hidden;
    height: 300px;
}

.photo-segment img {
    width: 100%;
    height: 300px;
    opacity: 0.9;
    transform: scale(1.14);
}

.photo-segment img:hover {
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(1);
}


/***** Experience *****/
.skills{
    float: right;
    list-style-type: none;
    text-align: center;
}

.skills li {
    display: inline-block;
    margin-left: 15px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px 15px;
}

.skills li img {
    size: 5px
}

.certification {
    padding: 20px;
}
.contents{
    margin-top: 20px;
}


.box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.box h4 {
    font-size: 0.8rem;
}


.box h3 {
    font-size: 1.0rem;
}

.box p a {
    text-decoration: none;
    color: #000;
}

/*timeline*/

.timeline{
    position: relative;
    max-width: 900px;
    margin: 80px auto;
    box-sizing: border-box;
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}

.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 3s;
}

.container:nth-child(4){
    animation-delay: 4s;
}

.text-box{
    padding: 20px 30px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container{
    left:-25.5%;
}

.right-container{
    left: 24.6%;
}

.container img{
    position: absolute;
    width: 50px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;

}

.right-container img{
    left: -5.7%;
    background-color: white;
}

.left-container img{
    left: 96.2%;
    background-color: white;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #ccc;
    top: 0;
    left: 50%;
    margin-left: -3;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }  
}

.text-box h2{
   font-size: 150%; 
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ccc;
    left: -15px;
}

/***** Contact form *****/
.contact-form {
    max-width: 700px;
    display: flex;
    text-align: center;
    justify-content: center;
    
  }
  
  .contact-form input {
    width: 70%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
  }

  .contact-form textarea {
    width: 70%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-family: Arial;
  }

  input[type="submit"] {
    background-color: #ff99cc;
    font-size: 20px;
  }

  input[type="submit"]:hover {
    transition: background-color 0.5s;
    background-color: #ffeecc;
  }


/***** Footer *****/
.footer-page {
    margin-top: 30px;
}

.footer-text {
    text-align: center;
    margin: 10px 0;
}

/***** Stop floating *****/
.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
